.appointment-form {
    font-family: sans-serif;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #a02424;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    color: #494646;
    margin-bottom: 5px;
    font-weight: bold;
  }

  small{
    color: #6a6565;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="datetime-local"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #a02424;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  textarea {
    resize: none;
    height: 200px;
    overflow-y: auto;
  }
 
  button {
    background-color: #a02424;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #ce7d7d;
  }
  
  .form-title {
    text-align: center;
    margin-bottom: 20px;
    color: #a02424;
  }
  
  