h1 {
  color: green;
  text-align: center;
}

.cart-table,
.order-table {
  width: 90%;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  border-collapse: separate;
}

.cart-table th,
.order-table th {
  height: 60px;
  background-color: #4caf50;
  color: white;
}

.cart-table td,
.order-table td {
  padding: 20px;
  text-align: center;
  background-color: #ccc;
  border-bottom: 1px solid #27a057;
}

.cart-table button {
  width: 20px;
  padding: 5px;
  background-color: #27a057;
  border: none;
  color: white;
}
button:hover {
  cursor: pointer;
}
input {
  width: 60px;
  padding: 5px;
  border: none;
  text-align: center;
}

.payButton {
  width: 150px;
  border: none;
  color: white;
  padding: 10px 0;
  margin-right: 100px;
  margin-bottom: 100px;
  background-color: #27a057;
}

tbody .deleteAllRow {
  width: 100px;
}

.order-table {
  margin-bottom: 100px;
}

.product-item {
  background: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  border-radius: 8px;
}

.product-item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.product-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.product-item h3 {
  font-size: 18px;
  margin-top: 15px;
}

.product-item p {
  font-size: 16px;
  color: #e67e22;
  font-weight: bold;
}
