
.lienhe-info{
	margin: 20px auto 0; 
	display: inline-block;
	width: 100%;
}
.info-left{
	float: left;
	width: 48%;
    color: rgb(36, 61, 84);
}
.info-right {
	float: right;
	width: 48%;	
    color: rgb(38, 56, 73);
}
