
.info{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    margin-bottom: 100px;
}
.info p {
  margin: 8px 0;
  color: #444;
  font-size: 18px;
}

.info strong {
  color: #000;
}

